<nav class="navbar navbar-expand-lg navbar-dark shadow p-3 mb-5 bg-white fixed-top">
  <div class="container-fluid">
    <a class="logo" href="{% url 'home' %}" >
      <div class="col-lg-1" style="color: #000; font-size:45px;" >
        <strong>Home</strong></div>
    </a>    

    

<div class="float-right" style="margin-right: 5% 0px; display:flex">

  <a class="logo" href="{% url 'bookhome' %}" style="margin: auto">
    <div class="col-lg-1" style="color: #000; font-size:18px;" ><strong>Books</strong></div>
  </a>  
  &nbsp &nbsp &nbsp
    <a class="logo" href="{% url 'home' %}" style="margin: auto">
      <div class="col-lg-1" style="color: #000; font-size:18px;" ><strong>Posts</strong></div>
    </a>   
    &nbsp &nbsp &nbsp &nbsp


    <div class="collapse show navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="rounded-circle article-img" src="{{ user.profile.profile_pic.url }}"
                           style="height:50px; width:50px;
                           border: 1px solid #aaa; padding:2px">
          </a>
       
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
          
        <li><a class='dropdown-item' href="{% url 'add_post' %}" class='nav-link'>Add post</a></li>
        
        {% comment %} <li><a class='dropdown-item' href="{% url 'show_profile_page' user.profile.id %}" class='nav-link'>View profile</a></li> {% endcomment %}
        {% comment %} <li><a class='dropdown-item' href="{% url 'edit_profile' %}" class='nav-link'>View profile</a></li> {% endcomment %}

        {% if user.profile.id %}

            <li><a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit profile</a></li>
            {% else %}
            <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit profile</a></li>
            {% endif %}
            <li><a class="dropdown-item" href="{% url 'show_profile_page' user.profile.id %}">View profile</a></li> 

            <hr>
            <li><a class='dropdown-item' href="{% url 'logout' %}" class='nav-link'>Logout</a></li>


          </ul>
        {% else %}
        <li class='nav-item'><a href="{% url 'register' %}" class='nav-link' style=" color:black">Register</a></li>
        <li class='nav-item'><a href="{% url 'login2' %}" class='nav-link' style=" color:black">Login</a></li>

        {% endif %}
        

    
      </ul>
      {% comment %} <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> {% endcomment %}
    </div>
  </div>
</div>

</nav>