{% extends 'base.html' %}


{% block title %}
    <title>Book Site | Home</title>
    {% endblock title %}


  {% block content %}  
<div class = 'container'>
  <div class = 'row'><h4>Recommended Books</h4></div>
  <div class = 'row'>
    {% for book in recommended_books %}
    {% include 'bookcard.html' %}
    {% endfor %}
  </div>
</div>


<div class = 'container'>
  <div class = 'row'><h4>Top Fiction Books</h4></div>
  <div class = 'row'>
    {% for book in fiction_books %}
    {% include 'bookcard.html' %}
    {% endfor %}
  </div>
</div>


<div class = 'container'>
    <div class = 'row'><h4>Top Business Books</h4></div>
    <div class = 'row'>
        {% for book in business_books %}
      {% include 'bookcard.html' %}
      {% endfor %}
    </div>
  </div>

{% endblock content %}

